@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

:root {
    --primary: #fe2c55;
    //default layout
    --default-layout-height-header: 60px;
    --default-layout-width-content: 1150px;
    --width-sidebar: 356px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'roboto', sans-serif;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed; // tối ưu hóa tốc độ tải data ra DOM
    line-height: 1.5;
}
