//menu wrapper
.menu-list {
    width: 230px;
    .menu-item {
        margin-left: 0;
    }
}
.menu-custom {
    padding-bottom: 8px;
}
//menu item
.menu-item {
    width: 100%;
    border-radius: 0;
    padding: 14px 16px;

    justify-content: flex-start;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
